PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://zaraomni:zaraomni@localhost:5432/zaraomni_db?schema=public&connection_limit=10&pool_timeout=20"
JWT_SECRET=your-jwt-secret-here

# Downstream service URLs
AUTH_SERVICE_URL=http://localhost:3003
PRODUCT_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3004
PAYMENT_SERVICE_URL=http://localhost:3005
